form {
    margin: 10px 0;
}

form > button {
    background: linear-gradient(to bottom left, #00C01C, green);
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    font-family: helvetica;
    font-weight: lighter;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

form > button:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
   background: linear-gradient(to bottom left, rgb(0, 140, 255), blue);
    color: white;
    padding: 5px;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-right: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

