body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-weight: lighter;
  background: linear-gradient(to bottom right, #F02400, #d2005f);
}

h1, h2{
  font-weight: lighter;
}

div{
  box-sizing: border-box;
}