body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(255, 0, 85), rgb(82, 32, 219));
    color: white;
}

h3{
    font-family: 'Fjalla One', sans-serif;
    font-size: 44px;
}
h4{
    margin-top: 0;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}
h2{
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
    animation: fade-in 700ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

h2 span{
    font-weight: bold;
}

.result-container{
    position: absolute;
    bottom: 0;
    overflow-y: scroll;
    width: 50%;
    height: 300px;
}

input[type="text"]{
    width: 300px;
    height: 50px;
    border-radius: 3px;
    border: none;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-size: 16px;
    font-family:Helvetica, sans-serif;
    font-weight: lighter;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

input[type="text"]:disabled{
    opacity: 0.25;
}

label{
    
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    background-color: white;
    color: #333;
    padding: 5px;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}


#up_button{
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background-color: white;
    color: #333;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#up_button:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1.0;
        transform: translateY(0);
    }
}
